body {
    box-sizing: border-box;
}

#map {
    height: 100%;
    
}

#info {
    height: 100%;
    overflow-y: auto;
    background-color: #FEFEFE;
}

#exception {
    text-align: center;
    padding-top: 70%;
}


#data {
    margin-top: 20%;

}

p {
    margin-top: 2%;
    margin-bottom: 2%;
}

.body-wrapper {
    height: 100%;
}

.btn {
    width: 100%;
    margin: 10px 0 10px 0
}

.btn-container {
    padding: 10px;
}

.info-panel{
    height: 20vh;
    background-color: #ffffff;
    border-radius: 15px;
}

#upload{
    position: absolute;
    right:   10%;
    bottom:   25%;
}

#impurity{
    position: absolute;
    right:   15%;
    bottom:   25%;
}

#technicalproblem{
    position: absolute;
    right:   19%;
    bottom:   25%;
}

#preservative{
    position: absolute;
    right:   23%;
    bottom:   25%;
}

#add{
    position: absolute;
    right:   27%;
    bottom:   25%;
}

.data-wrapper{
    text-align: center;
}

.data-icon{
    margin-top:20px;
    width:20%;
    height:20%;
}

.data-desc{
    font-style: italic;
    font-family: Helvetica;
}

.data-value{
    font-size: 400%;
    color: #eb8242;
    font-family: Georgia;
}
/*.dot {
    height: 25px;
    width: 25px;
    border: 1px solid grey;  
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
    background-color: red;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 1px 1px, inset #441313 0 -1px 2px, rgba(255, 0, 0, 0.5) 0 1px 2px;
  }*/

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
        visibility: hidden; /* Hidden by default. Visible on click */
        min-width: 250px; /* Set a default minimum width */
        margin-left: -125px; /* Divide value of min-width by 2 */
        background-color: #333; /* Black background color */
        color: #fff; /* White text color */
        text-align: center; /* Centered text */
        border-radius: 2px; /* Rounded borders */
        padding: 16px; /* Padding */
        position: fixed; /* Sit on top of the screen */
        z-index: 1; /* Add a z-index if needed */
        left: 50%; /* Center the snackbar */
        bottom: 30px; /* 30px from the bottom */
    }
    
    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    
    /* Animations to fade the snackbar in and out */
    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
    }
    
    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }
    
    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
    }
    
    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

@media only screen and (max-width: 600px) {
    #map {
        height: 30%;
    }
    #info {
        height: 70%;
    }
    .btn {
        width: 100%;
        margin: 5px 0 5px 0
    }
    
    #exception {
        padding-top: 90%;
    }

    #upload{
        position: absolute;
        right:   10%;
        bottom:   5%;
    }

    #impurity{
        position: absolute;
        right:   30%;
        bottom:   5%;
    }

    #technicalproblem{
        position: absolute;
        right:   45%;
        bottom:   5%;
    }

    #preservative{
        position: absolute;
        right:   60%;
        bottom:   5%;
    }

    #add{
        position: absolute;
        right:   75%;
        bottom:   5%;
    }

    .btn-container {
        padding: 5px;
    }

    .data-icon{
        margin-top:10px;
        width:25%;
        height:20%;
    }
    
    .data-value{
        font-size: 220%;
    }
  }