body {
    box-sizing: border-box;
}

#map {
    height: 100%;
}

#info {
    height: 100%;
    overflow-y: auto;
}

#total-bale {
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
}

#exception {
    text-align: center;
    padding-top: 10%;
}


#data {
    margin: 0px;  
}

p {
    margin-top: 2%;
    margin-bottom: 2%;
}



.body-wrapper {
    height: 100vh;
}

.btn {
    width: 100%;
    margin: 10px 0 10px 0
}

.btn-container {
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    #map {
        height: 30%;
    }
    #total-bale {
        text-align: center;
        font-size: 22px;
        padding-top: 5px;
    }
    #info {
        height: 70%;
    }
    .btn {
        width: 100%;
        margin: 5px 0 5px 0
    }
    
    .btn-container {
        padding: 5px;
    }
  }