#map {
    width: 50%;
    float: left;
    height: 100%;
}

#info {
    width: 50%;
    float: right;
    height: 100%;
    background-color: #F5F5F5; 
}

#total-bale {
    text-align: center;
    font-size: 60px;
    padding-top: 30%;
}

#data {
    margin: 0px;
    height: 40%;
}

p {
    margin-top: 2%;
    margin-bottom: 2%;
}

#bad-silage {
    margin: 15px;
    padding: 0px 70px;
}




